<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title"></h4>
				<h6 class="card-subtitle"></h6>
				<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
					
					<ngb-panel title="liste des mots clés">
						
						<ng-template ngbPanelContent>
							<p>
								
								<a type="button" class="btn btn-success" routerLink="../motscles/mots-cles" routerLinkActive="Active" >Ajouter mot clés</a>

								<ng-template #Addmodal let-modal>
									<div class="modal-header">
									  <h4 class="modal-title" id="modal-basic-title">Ajout</h4>
									  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
										<span aria-hidden="true">×</span>
									  </button>
									</div>
									<div class="modal-body">
										<form>
											<div class="form-group">
												<label for="Id">Mot clés Id</label>
												<div class="input-group">
													<input id="Id" class="form-control">
													
												</div>
												<label for="Nom">Mot clés nom</label>
												<div class="input-group">
													<input id="Nom" class="form-control">
													
												</div>
												<br>
												<div class="input-group-append">
													<button class="btn btn-dark" (click)="dp.toggle()" type="button">Ajouter</button>
												</div>
											</div>
										</form>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
									</div>
								  </ng-template>
							</p>
							<br>
							
							<table class="table">
								<thead class="thead-dark">
								  <tr>
									
									<th scope="col">mot clés id</th>
									<th scope="col">mot clés</th>
									<th scope="col">options</th>
								  </tr>
								</thead>
								<tbody>
								  <tr>
									<!--thh scope="row" *ngfor=" let mot of service.listeMotsCles "-->
                                       
                                   
								  </tr>
								  <tr>
									  <td>
										  1
									  </td>
									  <td>
										  stress
									  </td>
									  <td>
                                        <button type="button" class="btn btn-light mr-1" (click)="open(mymodal)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                              </svg>
                                        </button>
										<ng-template #mymodal let-modal>
											<div class="modal-header">
											  <h4 class="modal-title" id="modal-basic-title">Modification</h4>
											  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
												<span aria-hidden="true">×</span>
											  </button>
											</div>
											<div class="modal-body">
												<form>
													<div class="form-group">
														<label for="motId">Mot clés Id</label>
														<div class="input-group">
															<input id="motId" class="form-control" placeholder="1" >
															
														</div>
														<label for="motNom">Mot clés nom</label>
														<div class="input-group">
															<input id="motNom" class="form-control" placeholder="stress">
															
														</div>
														<br>
														<div class="input-group-append">
															<button class="btn btn-dark" (click)="dp.toggle()" type="button">Enregistrer</button>
														</div>
													</div>
												</form>
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
											</div>
										  </ng-template>
                                        <button type="button" class="btn btn-light mr-1"  (click)="open(modalDelete)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                              </svg>
                                        </button>
										<ng-template #modalDelete let-modal>
											<div class="modal-header">
											  <h4 class="modal-title" id="modal-basic-title">Suppression</h4>
											  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
												<span aria-hidden="true">×</span>
											  </button>
											</div>
											<div class="modal-body">
												êtes-vous sûr(e)
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">oui</button>
											</div>
										  </ng-template>
                                    </td>
								  </tr>
								 <tr>
									 <td>
										 2
									 </td>
									
									 <td>
										 communication
									 </td>
									 <td>
                                        <button type="button" class="btn btn-light mr-1" (click)="open(mymodal)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                              </svg>
                                        </button>
										<ng-template #mymodal let-modal>
											<div class="modal-header">
											  <h4 class="modal-title" id="modal-basic-title">Modification</h4>
											  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
												<span aria-hidden="true">×</span>
											  </button>
											</div>
											<div class="modal-body">
												<form>
													<div class="form-group">
														<label for="motId">Mot clés Id</label>
														<div class="input-group">
															<input id="motId" class="form-control" placeholder="2" >
															
														</div>
														<label for="motNom">Mot clés nom</label>
														<div class="input-group">
															<input id="motNom" class="form-control" placeholder="communication">
															
														</div>
														<br>
														<div class="input-group-append">
															<button class="btn btn-dark" (click)="dp.toggle()" type="button">Enregistrer</button>
														</div>
													</div>
												</form>
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
											</div>
										  </ng-template>
                                        <button type="button" class="btn btn-light mr-1"  (click)="open(modalDelete)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                              </svg>
                                        </button>
										<ng-template #modalDelete let-modal>
											<div class="modal-header">
											  <h4 class="modal-title" id="modal-basic-title">Suppression</h4>
											  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
												<span aria-hidden="true">×</span>
											  </button>
											</div>
											<div class="modal-body">
												êtes-vous sûr(e)
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">oui</button>
											</div>
										  </ng-template>
                                    </td>
								 </tr>
								 <tr>
									<td>
										3
									</td>
										<td>
											bienveillance
										</td>
										<td>
											<button type="button" class="btn btn-light mr-1" (click)="open(mymodal)">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
													<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
													<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
												  </svg>
											</button>
											<ng-template #mymodal let-modal>
												<div class="modal-header">
												  <h4 class="modal-title" id="modal-basic-title">Modification</h4>
												  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
													<span aria-hidden="true">×</span>
												  </button>
												</div>
												<div class="modal-body">
													<form>
														<div class="form-group">
															<label for="motId">Mot clés Id</label>
															<div class="input-group">
																<input id="motId" class="form-control" placeholder="3" >
																
															</div>
															<label for="motNom">Mot clés nom</label>
															<div class="input-group">
																<input id="motNom" class="form-control" placeholder="bienveillance">
																
															</div>
															<br>
															<div class="input-group-append">
																<button class="btn btn-dark" (click)="dp.toggle()" type="button">Enregistrer</button>
															</div>
														</div>
													</form>
												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
												</div>
											  </ng-template>
											<button type="button" class="btn btn-light mr-1"  (click)="open(modalDelete)">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
													<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
												  </svg>
											</button>
											<ng-template #modalDelete let-modal>
												<div class="modal-header">
												  <h4 class="modal-title" id="modal-basic-title">Suppression</h4>
												  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
													<span aria-hidden="true">×</span>
												  </button>
												</div>
												<div class="modal-body">
													êtes-vous sûr(e)
												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">oui</button>
												</div>
											  </ng-template>
										</td>
									
									
									
								 </tr>
								 <tr>
									
									<td>
										4
									</td>
									<td>
										gestion de la colère
									</td>
									<td>
                                        <button type="button" class="btn btn-light mr-1" (click)="open(mymodal)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                              </svg>
                                        </button>
										<ng-template #mymodal let-modal>
											<div class="modal-header">
											  <h4 class="modal-title" id="modal-basic-title">Modification</h4>
											  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
												<span aria-hidden="true">×</span>
											  </button>
											</div>
											<div class="modal-body">
												<form>
													<div class="form-group">
														<label for="motId">Mot clés Id</label>
														<div class="input-group">
															<input id="motId" class="form-control" placeholder="4" >
															
														</div>
														<label for="motNom">Mot clés nom</label>
														<div class="input-group">
															<input id="motNom" class="form-control" placeholder="gestion de la colère">
															
														</div>
														<br>
														<div class="input-group-append">
															<button class="btn btn-dark" (click)="dp.toggle()" type="button">Enregistrer</button>
														</div>
													</div>
												</form>
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
											</div>
										  </ng-template>
                                        <button type="button" class="btn btn-light mr-1"  (click)="open(modalDelete)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                              </svg>
                                        </button>
										<ng-template #modalDelete let-modal>
											<div class="modal-header">
											  <h4 class="modal-title" id="modal-basic-title">Suppression</h4>
											  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
												<span aria-hidden="true">×</span>
											  </button>
											</div>
											<div class="modal-body">
												êtes-vous sûr(e)
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">oui</button>
											</div>
										  </ng-template>
                                    </td>
								 </tr>
								 <tr>
									<td>
										5
									</td>
									<td>
										échange
									</td>	
									<td>
                                        <button type="button" class="btn btn-light mr-1" (click)="open(mymodal)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                              </svg>
                                        </button>
										<ng-template #mymodal let-modal>
											<div class="modal-header">
											  <h4 class="modal-title" id="modal-basic-title">Modification</h4>
											  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
												<span aria-hidden="true">×</span>
											  </button>
											</div>
											<div class="modal-body">
												<form>
													<div class="form-group">
														<label for="motId">Mot clés Id</label>
														<div class="input-group">
															<input id="motId" class="form-control" placeholder="5" >
															
														</div>
														<label for="motNom">Mot clés nom</label>
														<div class="input-group">
															<input id="motNom" class="form-control" placeholder="échange">
															
														</div>
														<br>
														<div class="input-group-append">
															<button class="btn btn-dark" (click)="dp.toggle()" type="button">Enregistrer</button>
														</div>
													</div>
												</form>
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
											</div>
										  </ng-template>
                                        <button type="button" class="btn btn-light mr-1"  (click)="open(modalDelete)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                              </svg>
                                        </button>
										<ng-template #modalDelete let-modal>
											<div class="modal-header">
											  <h4 class="modal-title" id="modal-basic-title">Suppression</h4>
											  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
												<span aria-hidden="true">×</span>
											  </button>
											</div>
											<div class="modal-body">
												êtes-vous sûr(e)
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">oui</button>
											</div>
										  </ng-template>
                                    </td>
								 </tr>
								 <tr>
									<td>6</td>	
									<td>choix</td>
									<td>
                                        <button type="button" class="btn btn-light mr-1" (click)="open(mymodal)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                              </svg>
                                        </button>
										<ng-template #mymodal let-modal>
											<div class="modal-header">
											  <h4 class="modal-title" id="modal-basic-title">Modification</h4>
											  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
												<span aria-hidden="true">×</span>
											  </button>
											</div>
											<div class="modal-body">
												<form>
													<div class="form-group">
														<label for="motId">Mot clés Id</label>
														<div class="input-group">
															<input id="motId" class="form-control" placeholder="6" >
															
														</div>
														<label for="motNom">Mot clés nom</label>
														<div class="input-group">
															<input id="motNom" class="form-control" placeholder="choix">
															
														</div>
														<br>
														<div class="input-group-append">
															<button class="btn btn-dark" (click)="dp.toggle()" type="button">Enregistrer</button>
														</div>
													</div>
												</form>
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
											</div>
										  </ng-template>
                                        <button type="button" class="btn btn-light mr-1"  (click)="open(modalDelete)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                              </svg>
                                        </button>
										<ng-template #modalDelete let-modal>
											<div class="modal-header">
											  <h4 class="modal-title" id="modal-basic-title">Suppression</h4>
											  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
												<span aria-hidden="true">×</span>
											  </button>
											</div>
											<div class="modal-body">
												êtes-vous sûr(e)
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">oui</button>
											</div>
										  </ng-template>
                                    </td>
								 </tr>
								 <tr>

									<td>7</td>
									<td>groupe</td>
									<td>
                                        <button type="button" class="btn btn-light mr-1" (click)="open(mymodal)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                              </svg>
                                        </button>
										<ng-template #mymodal let-modal>
											<div class="modal-header">
											  <h4 class="modal-title" id="modal-basic-title">Modification</h4>
											  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
												<span aria-hidden="true">×</span>
											  </button>
											</div>
											<div class="modal-body">
												<form>
													<div class="form-group">
														<label for="motId">Mot clés Id</label>
														<div class="input-group">
															<input id="motId" class="form-control" placeholder="7" >
															
														</div>
														<label for="motNom">Mot clés nom</label>
														<div class="input-group">
															<input id="motNom" class="form-control" placeholder="groupe">
															
														</div>
														<br>
														<div class="input-group-append">
															<button class="btn btn-dark" (click)="dp.toggle()" type="button">Enregistrer</button>
														</div>
													</div>
												</form>
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
											</div>
										  </ng-template>
                                        <button type="button" class="btn btn-light mr-1"  (click)="open(modalDelete)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                              </svg>
                                        </button>
										<ng-template #modalDelete let-modal>
											<div class="modal-header">
											  <h4 class="modal-title" id="modal-basic-title">Suppression</h4>
											  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
												<span aria-hidden="true">×</span>
											  </button>
											</div>
											<div class="modal-body">
												êtes-vous sûr(e)
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">oui</button>
											</div>
										  </ng-template>
                                    </td>
								 </tr>
								</tbody>
							  </table>
							  
							
								
								 
								  
							 
						</ng-template>
					</ngb-panel>
					
					<div class="container mt-3">
						
					  </div>
				</ngb-accordion>

			</div>
		</div>
    </div>
</div>
<router-outlet></router-outlet>