<div class="card">
    <div class="card-body">
        <h4 class="card-title">Members Activity</h4>
        <h6 class="card-subtitle">what members preformance / weekly status</h6>
        <div class="table-responsive m-t-30">
            <table class="table table-hover v-middle no-wrap mb-0">
                <thead>
                    <tr>
                        <th style="width: 60px;"> Member </th>
                        <th> Name </th>
                        <th> Earnings </th>
                        <th> Reviews </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img class="rounded-circle" src="assets/images/users/1.jpg" alt="user" width="50">
                        </td>
                        <td>
                            <a href="javascript:;">Govinda</a>
                        </td>
                        <td> $325 </td>
                        <td>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="far fa-star text-warning"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="rounded-circle" src="assets/images/users/2.jpg" alt="user" width="50">
                        </td>
                        <td>
                            <a href="javascript:;">Genelia</a>
                        </td>
                        <td> $225 </td>
                        <td>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="far fa-star text-warning"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="rounded-circle" src="assets/images/users/3.jpg" alt="user" width="50">
                        </td>
                        <td>
                            <a href="javascript:;">Hrithik</a>
                        </td>
                        <td> $185 </td>
                        <td>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="far fa-star text-warning"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="rounded-circle" src="assets/images/users/4.jpg" alt="user" width="50">
                        </td>
                        <td>
                            <a href="javascript:;">Salman</a>
                        </td>
                        <td> $125 </td>
                        <td>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="far fa-star text-warning"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="rounded-circle" src="assets/images/users/2.jpg" alt="user" width="50">
                        </td>
                        <td>
                            <a href="javascript:;">Genelia</a>
                        </td>
                        <td> $225 </td>
                        <td>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="far fa-star text-warning"></i>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
